@model KindnessPosition
@using System.Text.Json
@{

    var builder = WebApplication.CreateBuilder();
    ViewBag.PublishDate = builder.Configuration.GetValue<string>("PublishDate");
    ViewData["Title"] = "??????????????????????-?????????????(?????)";
    string? connectionString = builder.Configuration.GetConnectionString("DefaultConnection");

    // Auto logout settings
    float? AUTO_LOGOUT_MINUTE = builder.Configuration.GetSection("Logout_Duration:AUTO_LOGOUT_MINUTE").Get<float>();
    int? WARNING_BEFORE_LOGOUT_SECOND = builder.Configuration.GetSection("Logout_Duration:WARNING_BEFORE_LOGOUT_SECOND").Get<int>();

    // If AUTO_LOGOUT_MINUTE or WARNING_BEFORE_LOGOUT_SECOND is not set, use default values
    if (AUTO_LOGOUT_MINUTE == null || WARNING_BEFORE_LOGOUT_SECOND == null)
    {
        // Default values if not set in configuration
        AUTO_LOGOUT_MINUTE = (float?)0.5; // 30 minutes
        WARNING_BEFORE_LOGOUT_SECOND = 10; // 10 seconds
    }
    else
        // Set ViewBag for use in the view
        ViewBag.AUTO_LOGOUT_MINUTE = AUTO_LOGOUT_MINUTE;
    ViewBag.WARNING_BEFORE_LOGOUT_SECOND = WARNING_BEFORE_LOGOUT_SECOND;

    // Work_Duration is used for the duration of work in the system
    float? Work_Duration = builder.Configuration.GetSection("Work_Duration").Get<float>();
    int? WORK_WARNING_SECONDS = builder.Configuration.GetSection("WORK_WARNING_SECONDS").Get<int>();

    // If Work_Duration is not set, use default value
    if (Work_Duration == null)
    {
        // Default value if not set in configuration
        Work_Duration = (float?)1.0; // 1 mins
    }
    ViewBag.Work_Duration = Work_Duration;
    // Set ViewBag for WORK_WARNING_SECONDS for use in the view
    if (WORK_WARNING_SECONDS == null)
    {
        // Default value if not set in configuration
        WORK_WARNING_SECONDS = 60; // 60 seconds
    }
    ViewBag.WORK_WARNING_SECONDS = WORK_WARNING_SECONDS; // Default value will be null if not set
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ????CSS???? -->
    <link rel="stylesheet" href="~/css/position_Display.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>
    <title>???-??????</title>
</head>

<body>
    <header>
        <div id="txtblnkindex1" class="text-center fw-bolder blink">
            <p id="work_duration_top" style="font-size:larger;color:green;font-weight:bolder" class="text-bg-info align-content-center fw-bolder"></p>
        </div>
    </header>
    <a asp-action="PositionQuery" class="btn btn-outline-primary bg-gradient mb-5 fw-semibold  text-uppercase">
        <label style="font-size:30px;color:darkgreen;font-weight:bolder">????</label>
    </a>
    <h2>???-????</h2>
    <label>??</label>
    <label id="Kindness_Name" class="displaylabel blink_name">@Model.Name</label>
    <label id="Kindness_PositionId" class="displaylabel blink_name">@Model.PositionId</label>
   @*  <label id="Kindness_Applicant">???:@Model.Applicant</label> *@
    <h2>??-??</h2>
    <div>
        <div id="RootDiv_Kindness_Layout" class="position-container-Kindness-Layout"></div>
    </div>

    <div>
        <div id="RootDiv_Kindness" class="position-container"></div>
    </div>

    <div id="queryModal" class="modal-overlay_kindness" style="display:none;">
        <div class="modal-content">
            <span class="close-btn" onclick="closeQueryModal()">&times;</span>
            <h2><span class="blink_name" id="ModalName"></span></h2>
            <h2><span class="blink_name" id="ModalPositionId"></span></h2>
            @*    <h5><span id="ModalApplicant"></span></h5> *@
            <div id="ModalDynamicContent">
                <!-- Dynamic content will be injected here -->
            </div>
            <!-- ...other modal content... -->
        </div>
    </div>
    <div class="col-12 text-center fw-bolder">
        <h2>?????????</h2>
        <div class="col-12 text-center fw-bolder">
            <img src="~/images/Kindness/Kindness_tower_outlook.jpg" title="???-??" alt="???-??" style="max-width:100%;height:auto;" />
        </div>
        <div class="col-12 text-center fw-bolder">
            <img src="~/images/Kindness/Kindness_tower_outlook-1.jpg" title="???-??" alt="???-??" style="max-width:100%;height:auto;" />
        </div>
        <div class="col-12 text-center fw-bolder">
            <img src="~/images/Kindness/Kindness_note.jpg" title="???-??????" alt="???-??????" style="max-width:100%;height:auto;" />
        </div>
        <div class="col-12 text-center fw-bolder">
            <img src="~/images/Kindness/Kindness_layout.jpg" title="???-?????" alt="???-?????" style="max-width:100%;height:auto;" />
        </div>
        <h4>???-????</h4>
        <div class="col-12 text-center fw-bolder">
            <img src="~/images/Kindness/Kindness_position.jpg" title="???-????" alt="???-????" style="max-width:100%;height:auto;" />
        </div>
    </div>


    <div id="autoLogoutWarning">
        <div class="modal-content">
            <h4 style="color:#c0392b;">????????[????]....</h4>
            <p style="color:blue;font-size:xx-large;font-weight:bolder">????????????,?? <span style="color:red;font-size:larger" id="logoutCountdown">@ViewBag.WARNING_BEFORE_LOGOUT_SECOND</span> ????????[????](KDP)?</p>
            <button onclick="stayLoggedIn()" class="btn btn-primary">[????]</button>
        </div>
    </div>
    <button id="goTopBtn" class="btn btn-danger">????</button>
    <div id="workDurationWarning" style="display:none; position:fixed; left:0; top:0; width:100vw; height:100vh; background:rgba(0,0,0,0.3); z-index:9999; align-items:center; justify-content:center;">
        <div class="modal-content" style="background:#fff; padding:2rem 2.5rem; border-radius:10px; box-shadow:0 4px 24px rgba(0,0,0,0.18); text-align:center; max-width:90vw;">
            <p style="color:blue;font-size:xx-large;font-weight:bolder">????????????,?????? <span style="color:red;font-size:larger" id="workLogoutCountdown">@ViewBag.WORK_WARNING_SECONDS</span> ????,?????[??[????]](KDP)?</p>
        </div>
    </div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script>


    //////////////////////////
    //0.?? ?,??,???.
    // (??) r? ?? ??
    /////////////////////////
    // ????????:?,?,?,?
    var kf1layout=@Html.Raw(JsonSerializer.Serialize<object>(ViewBag.KindnessLayout_1F));
        // ????????:?,?,?,?
    var kf2layout=@Html.Raw(JsonSerializer.Serialize<object>(ViewBag.KindnessLayout_2F));
        // ????/??????:?,?,?,?,???????,?,?,?,?
    var kf3layout=@Html.Raw(JsonSerializer.Serialize<object>(ViewBag.KindnessLayout_3F));


    //?.?????????
    //1F ?? ????
    // ??
    // ?????1??????
    var kf1arow1 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf1arow1));
    // ?????2??????
    var kf1arow2 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf1arow2));
    // ?????3??????
    var kf1arow3 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf1arow3));
    // ?????4??????
    var kf1arow4 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf1arow4));

    // ??
     // ?????1??????
     var kf1brow1 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf1brow1));
     // ?????2??????
     var kf1brow2 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf1brow2));
     // ?????3??????
     var kf1brow3 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf1brow3));
     // ?????4??????
     var kf1brow4 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf1brow4));

    // ??
    // ?????1??????
    var kf1crow1 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf1crow1));
    // ?????2??????
    var kf1crow2 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf1crow2));
    // ?????3??????
    var kf1crow3 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf1crow3));
    // ?????4??????
    var kf1crow4 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf1crow4));

    // ??
    // ?????1??????
    var kf1drow1 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf1drow1));
    // ?????2??????
    var kf1drow2 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf1drow2));
    // ?????3??????
    var kf1drow3 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf1drow3));
    // ?????4??????
    var kf1drow4 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf1drow4));

    // ??
    // ?????1??????
    var kf1erow1 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf1erow1));
    // ?????2??????
    var kf1erow2 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf1erow2));
    // ?????3??????
    var kf1erow3 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf1erow3));
    // ?????4??????
    var kf1erow4 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf1erow4));

    // ??
    // ?????1??????
    var kf1frow1 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf1frow1));
    // ?????2??????
    var kf1frow2 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf1frow2));
    // ?????3??????
    var kf1frow3 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf1frow3));
    // ?????4??????
    var kf1frow4 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf1frow4));

    // 2F ?? ????
    //??
    // ?????1??????
    var kf2arow1 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf2arow1));
    // ?????2??????
    var kf2arow2 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf2arow2));
    // ?????3??????
    var kf2arow3 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf2arow3));
    // ?????4??????
    var kf2arow4 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf2arow4));

    // ??
    // ?????1??????
    var kf2brow1 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf2brow1));
    // ?????2??????
    var kf2brow2 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf2brow2));
    // ?????3??????
    var kf2brow3 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf2brow3));
    // ?????4??????
    var kf2brow4 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf2brow4));

    // ??
    // ?????1??????
    var kf2crow1 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf2crow1));
    // ?????2??????
    var kf2crow2 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf2crow2));
    // ?????3??????
    var kf2crow3 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf2crow3));
    // ?????4??????
    var kf2crow4 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf2crow4));

    // ??
    // ?????1??????
    var kf2drow1 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf2drow1));
    // ?????2??????
    var kf2drow2 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf2drow2));
    // ?????3??????
    var kf2drow3 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf2drow3));
    // ?????4??????
    var kf2drow4 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf2drow4));

    // ??
    // ?????1??????
    var kf2erow1 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf2erow1));
    // ?????2??????
    var kf2erow2 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf2erow2));
    // ?????3??????
    var kf2erow3 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf2erow3));
    // ?????4??????
    var kf2erow4 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf2erow4));

    // ??
    // ?????1??????
    var kf2frow1 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf2frow1));
    // ?????2??????
    var kf2frow2 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf2frow2));
    // ?????3??????
    var kf2frow3 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf2frow3));
    // ?????4??????
    var kf2frow4 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf2frow4));

    // 3F ?? ????
    // ??
    // ?????1??????
    var kf3arow1 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3arow1));
    // ?????2??????
    var kf3arow2 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3arow2));
    // ?????3??????
    var kf3arow3 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3arow3));
    // ?????4??????
    var kf3arow4 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3arow4));
    // ?????5??????
    var kf3arow5 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3arow5));
    // ?????6??????
    var kf3arow6 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3arow6));
    // ?????7??????
    var kf3arow7 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3arow7));

    // ??
    // ?????1??????
    var kf3brow1 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3brow1));
    // ?????2??????
    var kf3brow2 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3brow2));
    // ?????3??????
    var kf3brow3 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3brow3));
    // ?????4??????
    var kf3brow4 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3brow4));
    // ?????5??????
    var kf3brow5 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3brow5));
    // ?????6??????
    var kf3brow6 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3brow6));
    // ?????7??????
    var kf3brow7 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3brow7));

    // ??
    // ?????1??????
    var kf3crow1 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3crow1));
    // ?????2??????
    var kf3crow2 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3crow2));
    // ?????3??????
    var kf3crow3 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3crow3));
    // ?????4??????
    var kf3crow4 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3crow4));
    // ?????5??????
    var kf3crow5 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3crow5));
    // ?????6??????
    var kf3crow6 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3crow6));
    // ?????7??????
    var kf3crow7 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3crow7));

    // ??
    // ?????1??????
    var kf3drow1 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3drow1));
    // ?????2??????
    var kf3drow2 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3drow2));
    // ?????3??????
    var kf3drow3 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3drow3));
    // ?????4??????
    var kf3drow4 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3drow4));
    // ?????5??????
    var kf3drow5 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3drow5));
    // ?????6??????
    var kf3drow6 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3drow6));
    // ?????7??????
    var kf3drow7 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3drow7));

    // ??
    // ?????1??????
    var kf3erow1 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3erow1));
    // ?????2??????
    var kf3erow2 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3erow2));
    // ?????3??????
    var kf3erow3 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3erow3));
    // ?????4??????
    var kf3erow4 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3erow4));
    // ?????5??????
    var kf3erow5 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3erow5));
    // ?????6??????
    var kf3erow6 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3erow6));
    // ?????7??????
    var kf3erow7 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3erow7));

    // ??
    // ?????1??????
    var kf3frow1 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3frow1));
    // ?????2??????
    var kf3frow2 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3frow2));
    // ?????3??????
    var kf3frow3 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3frow3));
    // ?????4??????
    var kf3frow4 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3frow4));
    // ?????5??????
    var kf3frow5 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3frow5));
    // ?????6??????
    var kf3frow6 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3frow6));
    // ?????7??????
    var kf3frow7 = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.kf3frow7));

    //////////////////////////////
    // ?.???????????
    /////////////////////////////

    //??
    var positionary_kf1a = Array.from({ length: @(ViewBag.kf1ar ?? 0) }, () => Array(@(ViewBag.kf1ac ?? 0)).fill(0));
    // ?????1??????
    positionary_kf1a[0] = kf1arow1.split(",");
    // ?????2??????
    positionary_kf1a[1] = kf1arow2.split(",");
    // ?????3??????
    positionary_kf1a[2] = kf1arow3.split(",");
    // ?????4??????
    positionary_kf1a[3] = kf1arow4.split(",");
      //??
      var positionary_kf1b = Array.from({ length: @ViewBag.kf1br }, () => Array(@ViewBag.kf1bc).fill(0));
    // ?????1??????
    positionary_kf1b[0] = kf1brow1.split(",");
    // ?????2??????
    positionary_kf1b[1] = kf1brow2.split(",");
    // ?????3??????
    positionary_kf1b[2] = kf1brow3.split(",");
    // ?????4??????
    positionary_kf1b[3] = kf1brow4.split(",");
      //??
      var positionary_kf1c = Array.from({ length: @ViewBag.kf1cr }, () => Array(@ViewBag.kf1cc).fill(0));
    // ?????1??????
    positionary_kf1c[0] = kf1crow1.split(",");
    // ?????2??????
    positionary_kf1c[1] = kf1crow2.split(",");
    // ?????3??????
    positionary_kf1c[2] = kf1crow3.split(",");
    // ?????4??????
    positionary_kf1c[3] = kf1crow4.split(",");
      //??
      var positionary_kf1d = Array.from({ length: @ViewBag.kf1dr }, () => Array(@ViewBag.kf1dc).fill(0));
    // ?????1??????
    positionary_kf1d[0] = kf1drow1.split(",");
    // ?????2??????
    positionary_kf1d[1] = kf1drow2.split(",");
    // ?????3??????
    positionary_kf1d[2] = kf1drow3.split(",");
    // ?????4??????
    positionary_kf1d[3] = kf1drow4.split(",");
      //??
      var positionary_kf1e = Array.from({ length: @ViewBag.kf1er }, () => Array(@ViewBag.kf1ec).fill(0));
    // ?????1??????
    positionary_kf1e[0] = kf1erow1.split(",");
    // ?????2??????
    positionary_kf1e[1] = kf1erow2.split(",");
    // ?????3??????
    positionary_kf1e[2] = kf1erow3.split(",");
    // ?????4??????
    positionary_kf1e[3] = kf1erow4.split(",");
       //??
      var positionary_kf1f = Array.from({ length: @ViewBag.kf1fr }, () => Array(@ViewBag.kf1fc).fill(0));
    // ?????1??????
    positionary_kf1f[0] = kf1frow1.split(",");
    // ?????2??????
    positionary_kf1f[1] = kf1frow2.split(",");
    // ?????3??????
    positionary_kf1f[2] = kf1frow3.split(",");
    // ?????4??????
    positionary_kf1f[3] = kf1frow4.split(",");


       //2F ?? ????
      //??
      var positionary_kf2a = Array.from({ length: @ViewBag.kf2ar }, () => Array(@ViewBag.kf2ac).fill(0));
      // ?????1??????
      positionary_kf2a[0] = kf2arow1.split(",");
      // ?????2??????
      positionary_kf2a[1] = kf2arow2.split(",");
      // ?????3??????
      positionary_kf2a[2] = kf2arow3.split(",");
      // ?????4??????
      positionary_kf2a[3] = kf2arow4.split(",");
      //??
      var positionary_kf2b = Array.from({ length: @ViewBag.kf2br }, () => Array(@ViewBag.kf2bc).fill(0));
        // ?????1??????
        positionary_kf2b[0] = kf2brow1.split(",");
        // ?????2??????
        positionary_kf2b[1] = kf2brow2.split(",");
        // ?????3??????
        positionary_kf2b[2] = kf2brow3.split(",");
        // ?????4??????
        positionary_kf2b[3] = kf2brow4.split(",");
      //??
      var positionary_kf2c = Array.from({ length: @ViewBag.kf2cr }, () => Array(@ViewBag.kf2cc).fill(0));
        // ?????1??????
        positionary_kf2c[0] = kf2crow1.split(",");
        // ?????2??????
        positionary_kf2c[1] = kf2crow2.split(",");
        // ?????3??????
        positionary_kf2c[2] = kf2crow3.split(",");
        // ?????4??????
        positionary_kf2c[3] = kf2crow4.split(",");
      //??
      var positionary_kf2d = Array.from({ length: @ViewBag.kf2dr }, () => Array(@ViewBag.kf2dc).fill(0));
        // ?????1??????
        positionary_kf2d[0] = kf2drow1.split(",");
        // ?????2??????
        positionary_kf2d[1] = kf2drow2.split(",");
        // ?????3??????
        positionary_kf2d[2] = kf2drow3.split(",");
        // ?????4??????
        positionary_kf2d[3] = kf2drow4.split(",");
      //??
      var positionary_kf2e = Array.from({ length: @ViewBag.kf2er }, () => Array(@ViewBag.kf2ec).fill(0));
        // ?????1??????
        positionary_kf2e[0] = kf2erow1.split(",");
        // ?????2??????
        positionary_kf2e[1] = kf2erow2.split(",");
        // ?????3??????
        positionary_kf2e[2] = kf2erow3.split(",");
        // ?????4??????
        positionary_kf2e[3] = kf2erow4.split(",");
      //??
      var positionary_kf2f = Array.from({ length: @ViewBag.kf2fr }, () => Array(@ViewBag.kf2fc).fill(0));
        // ?????1??????
        positionary_kf2f[0] = kf2frow1.split(",");
        // ?????2??????
        positionary_kf2f[1] = kf2frow2.split(",");
        // ?????3??????
        positionary_kf2f[2] = kf2frow3.split(",");
        // ?????4??????
        positionary_kf2f[3] = kf2frow4.split(",");

       //3F  ?? ????
      //??
      var positionary_kf3a = Array.from({ length: @ViewBag.kf3ar }, () => Array(@ViewBag.kf3ac).fill(0));
        // ?????1??????
        positionary_kf3a[0] = kf3arow1.split(",");
        // ?????2??????
        positionary_kf3a[1] = kf3arow2.split(",");
        // ?????3??????
        positionary_kf3a[2] = kf3arow3.split(",");
        // ?????4??????
        positionary_kf3a[3] = kf3arow4.split(",");
        // ?????5??????
        positionary_kf3a[4] = kf3arow5.split(",");
        // ?????6??????
        positionary_kf3a[5] = kf3arow6.split(",");
        // ?????7??????
        positionary_kf3a[6] = kf3arow7.split(",");
      //??
      var positionary_kf3b = Array.from({ length: @ViewBag.kf3br }, () => Array(@ViewBag.kf3bc).fill(0));
        // ?????1??????
        positionary_kf3b[0] = kf3brow1.split(",");
        // ?????2??????
        positionary_kf3b[1] = kf3brow2.split(",");
        // ?????3??????
        positionary_kf3b[2] = kf3brow3.split(",");
        // ?????4??????
        positionary_kf3b[3] = kf3brow4.split(",");
        // ?????5??????
        positionary_kf3b[4] = kf3brow5.split(",");
        // ?????6??????
        positionary_kf3b[5] = kf3brow6.split(",");
        // ?????7??????
        positionary_kf3b[6] = kf3brow7.split(",");
      //??
      var positionary_kf3c = Array.from({ length: @ViewBag.kf3cr }, () => Array(@ViewBag.kf3cc).fill(0));
        // ?????1??????
        positionary_kf3c[0] = kf3crow1.split(",");
        // ?????2??????
        positionary_kf3c[1] = kf3crow2.split(",");
        // ?????3??????
        positionary_kf3c[2] = kf3crow3.split(",");
        // ?????4??????
        positionary_kf3c[3] = kf3crow4.split(",");
        // ?????5??????
        positionary_kf3c[4] = kf3crow5.split(",");
        // ?????6??????
        positionary_kf3c[5] = kf3crow6.split(",");
        // ?????7??????
        positionary_kf3c[6] = kf3crow7.split(",");
      //??
      var positionary_kf3d = Array.from({ length: @ViewBag.kf3dr }, () => Array(@ViewBag.kf3dc).fill(0));
        // ?????1??????
        positionary_kf3d[0] = kf3drow1.split(",");
        // ?????2??????
        positionary_kf3d[1] = kf3drow2.split(",");
        // ?????3??????
        positionary_kf3d[2] = kf3drow3.split(",");
        // ?????4??????
        positionary_kf3d[3] = kf3drow4.split(",");
        // ?????5??????
        positionary_kf3d[4] = kf3drow5.split(",");
        // ?????6??????
        positionary_kf3d[5] = kf3drow6.split(",");
        // ?????7??????
        positionary_kf3d[6] = kf3drow7.split(",");
      //??
      var positionary_kf3e = Array.from({ length: @ViewBag.kf3er }, () => Array(@ViewBag.kf3ec).fill(0));
        // ?????1??????
        positionary_kf3e[0] = kf3erow1.split(",");
        // ?????2??????
        positionary_kf3e[1] = kf3erow2.split(",");
        // ?????3??????
        positionary_kf3e[2] = kf3erow3.split(",");
        // ?????4??????
        positionary_kf3e[3] = kf3erow4.split(",");
        // ?????5??????
        positionary_kf3e[4] = kf3erow5.split(",");
        // ?????6??????
        positionary_kf3e[5] = kf3erow6.split(",");
        // ?????7??????
        positionary_kf3e[6] = kf3erow7.split(",");
      //??
      var positionary_kf3f = Array.from({ length: @ViewBag.kf3fr }, () => Array(@ViewBag.kf3fc).fill(0));
        // ?????1??????
        positionary_kf3f[0] = kf3frow1.split(",");
        // ?????2??????
        positionary_kf3f[1] = kf3frow2.split(",");
        // ?????3??????
        positionary_kf3f[2] = kf3frow3.split(",");
        // ?????4??????
        positionary_kf3f[3] = kf3frow4.split(",");
        // ?????5??????
        positionary_kf3f[4] = kf3frow5.split(",");
        // ?????6??????
        positionary_kf3f[5] = kf3frow6.split(",");
        // ?????7??????
        positionary_kf3f[6] = kf3frow7.split(",");



         // ??1F,2F,3F ????? 2025 07 12 13:14
        var klayout_ary = Array.from({ length: @(ViewBag.KindnessFloor ?? 0) }, () => Array(@(ViewBag.KindnessSection ?? 0)).fill(0));
        // ??1???? 2025 07 13 23:39
        klayout_ary[0] = kf1layout.split(",");
        // ??1???? 2025 07 13 23:39
        klayout_ary[1] = kf2layout.split(",");
        // ??3???? 2025 07 13 23:39
        klayout_ary[2] = kf3layout.split(",");


        ////////////////////////////
        //?.?????
        ///////////////////////////

           // ??1F,2F,3F ??:
        desc="";
        renderLayoutFloorSection("RootDiv_Kindness_Layout", klayout_ary,desc,'level','sectionKindness');

         //3?
        // ??3?????:
        var desc="3?-??-";
        renderPositionRows(positionary_kf3a,desc,'level3f','position');
        // ??3?????:
         desc="3?-??-";
        renderPositionRows(positionary_kf3b,desc,'level3f','position');
        // ??3?????:
         desc="3?-??-";
        renderPositionRows(positionary_kf3c,desc,'level3f','position');
        // ??3?????:
         desc="3?-??-";
        renderPositionRows(positionary_kf3d,desc,'level3f','position');
        // ??3?????:
         desc="3?-??-";
        renderPositionRows(positionary_kf3e,desc,'level3f','position');
        // ??3?????:
         desc="3?-??-";
        renderPositionRows(positionary_kf3f,desc,'level3f','position');


         //2?:
        // ??2?????:
         desc="2?-??-";
        renderPositionRows(positionary_kf2a,desc,'level2f','position');
        // ??2?????:
         desc="2?-??-";
        renderPositionRows(positionary_kf2b,desc,'level2f','position');
        // ??2?????:
         desc="2?-??-";
        renderPositionRows(positionary_kf2c,desc,'level2f','position');
        // ??2?????:
         desc="2?-??-";
        renderPositionRows(positionary_kf2d,desc,'level2f','position');
        // ??2?????:
         desc="2?-??-";
        renderPositionRows(positionary_kf2e,desc,'level2f','position');
        // ??2?????:
         desc="2?-??-";
        renderPositionRows(positionary_kf2f,desc,'level2f','position');

        //1?:
        // ??1?????:
        desc="1?-??-";
        renderPositionRows(positionary_kf1a,desc,'level1f','position');
        // ??1?????:
        desc="1?-??-";
        renderPositionRows(positionary_kf1b,desc,'level1f','position');
        // ??1?????:
        desc="1?-??-";
        renderPositionRows(positionary_kf1c,desc,'level1f','position');
        // ??1?????:
        desc="1?-??-";
        renderPositionRows(positionary_kf1d,desc,'level1f','position');
        // ??1?????:
        desc="1?-??-";
        renderPositionRows(positionary_kf1e,desc,'level1f','position');
        // ??1?????:
        desc="1?-??-";
        renderPositionRows(positionary_kf1f,desc,'level1f','position');



            // ??:???????????????(????,????)
        // ??:positionary_asideary ??,????
         function renderLayoutFloorSection(root_div,positionary_kfloorary,desc,levelClassName,positionClassName)
        {
               // alert('desc : '+desc);
               // alert('root_div : '+root_div);
               // alert('positionary_kfloorary : '+positionary_kfloorary);
               // alert('levelClassName : '+levelClassName);
              for (let i = positionary_kfloorary.length -1 ; i >= 0 ; i--) {

                // ?????????
                let section = positionary_kfloorary[i];
                // ????div????????
                let floorDiv = document.createElement('div');
                // ??class?row
                floorDiv.className = 'row';
                for (let j = 0; j < section.length; j++) {
                    // ????????
                    let sec=section[j]; //???
                    // ????span????????
                    let secSpan = document.createElement('span');
                    secSpan.readOnly = true //????
                    secSpan.className = positionClassName; // ??class????position
                    secSpan.innerText = sec; // ???????????
                    // ???span?????rowDiv?
                    floorDiv.appendChild(secSpan);
                }
                // ????span??????????? desc
                    let descSpan = document.createElement('span');
                    descSpan.readOnly = true //????
                    descSpan.className = levelClassName+(i+1)+"f"; // ??class?classname
                    descSpan.innerText = desc +(i+1)+"???"; // ???????????
                     // Add the span to the row div
                    // ???span?????rowDiv?
                    floorDiv.appendChild(descSpan);
                // Add the row div to the container
                // ?????div???RootDiv_Kindness?
                document.getElementById(root_div).appendChild(floorDiv);
            }

         }

            // ??:???????????????(????????)
            // ??:positionary_kfloorary ???????
         function renderPositionRows(positionary_kfloorary,desc,levelClassName,postionClassName) {
            //Get each Row ID
            let rowId = "";
            for (let i = positionary_kfloorary.length -1 ; i >= 0 ; i--) {
                //Get each Row ID
                rowId = (i+1)
                // Get each row of position IDs
                // ??????????
                let row = positionary_kfloorary[i];
                // Create a div for the row
                // ????div????????
                let rowDiv = document.createElement('div');
                // ??class?row
                rowDiv.className = 'row';
                for (let j = 0; j < row.length; j++) {
                    // Get each position ID
                    // ?????????
                    let position=row[j]; //????
                    let positionId = desc+rowId+"?:" + position;  //eg:1?-??-7:34  format:?-?-?:?
                    //let positionId = position;  //eg:1?-??-7:34  format:?-?-?:?
                    // Create a span for the position
                    // ????span?????????
                    let positionSpan = document.createElement('span');
                    positionSpan.readOnly = true //????
                    if (position==="000")
                    {
                           positionSpan.className = 'position_window_door'; // ???-???,???
                           positionSpan.innerText = '???-???';   // ??:??'???-???,???'
                    }
                    else
                    {
                           positionSpan.className = postionClassName; // ??class????position
                           positionSpan.innerText = positionId; // ???????????
                    }

                    // Add the span to the row div
                    // ???span?????rowDiv?
                    rowDiv.appendChild(positionSpan);
                }
                // ????span??????????? desc
                    let positionSpan = document.createElement('span');
                    positionSpan.readOnly = true //????
                    positionSpan.className = levelClassName; // ??class?classname
                    positionSpan.innerText = desc +(i+1)+"?"; // ???????????
                     // Add the span to the row div
                    // ???span?????rowDiv?
                    rowDiv.appendChild(positionSpan);
                // Add the row div to the container
                // ?????div???RootDiv_Kindness?
                document.getElementById('RootDiv_Kindness').appendChild(rowDiv);
            }
        }

          //(1) find the Section for the wanted clan
        function populateSectionUI() {

            const positions = document.querySelectorAll('.sectionKindness');
            var PositionId = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.PositionId)); //???????
            //alert('PositionId: '+PositionId);
                if(PositionId.length > 0) {
                    positions.forEach(position => {
                        //alert('position.innerText: '+position.innerText);
                        var  bool_result= (PositionId.includes(position.innerText));//?? ===??
                        //alert('bool_result: ' +bool_result);
                        if (bool_result) {
                            //alert('bool_result: ' +bool_result);
                            position.classList.add('Kindnesssectioncurrent');//?????? 'Kindnesssectioncurrent'
                            position.classList.add('blink'); // ?? 2025 07 30 23:42
                            }
                    });
                    }
                }

        //(1) populate position from Database to UI
         function populateUI() {

            const positions = document.querySelectorAll('.position');
            //alert('positions.length: '+positions.length);

                //???????????? ViewBag.ListPositionId
            var listPositionId = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.ListPositionId));
            //alert('listPositionId.length: '+listPositionId.length);
                if(listPositionId.length > 0) {
                    //alert('kind==1');
                    //alert('ListPositionId: ' + JSON.stringify(listPositionId));
                    positions.forEach(position => {
                        listPositionId.forEach(positionid => {  //???? //positionid  eg: '1?-??-7?-234,??1'
                        var  Local_positionid=position.innerText;
                        //alert('Local_positionid: ' +Local_positionid);//???? eg: '1?-??-7?:234,???'
                        var  positionId_compared=positionid.substr(0,positionid.indexOf(","));  // ????[?]???:??
                        //alert('positionId_compared: ' +positionId_compared);
                        var  name=positionid.substr(positionid.indexOf(",")+1);  // ????[?]???:????
                        //alert('name: ' +name);
                        var  bool_result=positionId_compared===Local_positionid;//?? ===??
                        //alert('bool_result: ' +bool_result);
                          //???????
                        var currentPositonId=  @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.PositionId));
                        if (bool_result) {
                            position.classList.add('occupied');//?????? 'occupied'
                            position.innerText += ('-'+ name);
                             if (currentPositonId === Local_positionid) //???????
                              {
                                 position.classList.add('current');//??????????
                                 position.classList.add('blink');// ?? '???????' 2025 07 31 23:57
                                 var  floorSectionLevel=positionid.substr(0,positionid.indexOf(":"));  // ??[:][?]???:??-??-??
                                 //alert('floorSectionLevel'+floorSectionLevel);
                                 var targetSpan = findSpanByInnerText(floorSectionLevel);
                                     if (targetSpan) {
                                         targetSpan.classList.add('blink');// ?? ????????'??-??-??' 2025 07 31 23:57
                                    }
                              }
                            }
                        });
                    });
                }
       }


       function findSpanByInnerText(floorSectionLevel) {
        // 2025 08 01 00:18 Get all spans (or use a more specific selector if needed)
        const spans = document.querySelectorAll('span');
        // Find the first span whose innerText matches floorSectionLevel exactly
        for (let span of spans) {
            if (span.innerText.trim() === floorSectionLevel.trim()) {
                return span;
            }
        }
        return null; // Not found
       }

      function filterPositionsByFloorAndSection(floor, section) {
            // var sectionNames = ["?", "?", "?", "?", "?", "?"];
            // var sectionLabel = section !== "0" ? sectionNames[parseInt(section) - 1] + "?" : "";
            var sectionLabel=section+"?";
            document.querySelectorAll('#RootDiv_Kindness .row').forEach(row => {
                var descSpan = row.querySelector('span:last-child');
                if (!descSpan) {
                    row.style.display = 'none';
                    return;
                }
                var descText = descSpan.innerText;
                var floorMatch = (floor === "0") || descText.startsWith(floor + "?");
                var sectionMatch = (section === "0") || descText.includes(sectionLabel);
                row.style.display = (floorMatch && sectionMatch) ? '' : 'none';
            });

        }

       //??,????
       let floor = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.floor));
       let section = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.section));
       filterPositionsByFloorAndSection(floor, section);
       //??????????
       populateUI();
       //?????? (???????,??,????????!!)

         //(1) find the Section for the wanted clan
      populateSectionUI();

      //Display Result onto a Modal windows 2025 07 11 16:01

        function openQueryModalWithData() {
        var displayed_section = document.getElementById('RootDiv_Kindness_Layout').innerHTML;
        //????
        var name = document.getElementById('Kindness_Name').innerHTML;
        var positionId = document.getElementById('Kindness_PositionId').innerHTML;
        //var applicant=document.getElementById('Kindness_Applicant').innerHTML;
        //var cyfiedName = name.substr(0,1)+"*"+name.substr(2,10);
        // Example: data could be an object or string
        document.getElementById('ModalDynamicContent').innerHTML =
            `<p style="text-align:center">${displayed_section}</p>`;
        document.getElementById('ModalName').innerHTML =
            `<p style="font-size:30px;font-weight:bolder">${name}</p>`;
        document.getElementById('ModalPositionId').innerHTML =
            `<p style="font-size:30px;font-weight:bolder">${positionId}</p>`;
        // document.getElementById('ModalApplicant').innerHTML =
        //     `<p style="font-size:10px;font-weight:bolder">${applicant}</p>`;
        //visable  'block'
        document.getElementById('queryModal').style.display = 'block';
    }
        function closeQueryModal() {
        //invisable 'none'
        document.getElementById('queryModal').style.display = 'none';
    }

     //alert(displayed_positionid)
    openQueryModalWithData();

              // Keyboard shortcuts
    document.addEventListener('keydown', function (e) {
        if (e.key === 'T' || e.key === 't') {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        }
        if (e.key === 'B' || e.key === 'b') {
            e.preventDefault();
            window.history.back();
        }
    });
    // document.addEventListener('keydown', function (e) {
    //     if (e.key === 'F1' || e.key === 'Q' || e.key === 'q') {
    //         e.preventDefault();
    //         openQueryModal();
    //     }
    // });
    // document.addEventListener('keydown', function (e) {
    //     if (e.key === 'S' || e.key === 's') {
    //         e.preventDefault();
    //         openYesNoModal();
    //     }
    // });

    // Go to Top button logic
    const goTopBtn = document.getElementById('goTopBtn');
    window.addEventListener('scroll', function () {
        goTopBtn.style.display = window.scrollY > 200 ? 'block' : 'block';
    });
    goTopBtn.addEventListener('click', function () {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    });

</script>

<script type="text/javascript">
    window.AUTO_LOGOUT_MINUTES = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.AUTO_LOGOUT_MINUTE));
    window.WARNING_BEFORE_LOGOUT_SECONDS = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.WARNING_BEFORE_LOGOUT_SECOND));
    window.WORK_DURATION_MINUTES = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.Work_Duration));
    window.WORK_WARNING_SECONDS = @Html.Raw(JsonSerializer.Serialize<object>(ViewBag.WORK_WARNING_SECONDS));
</script>
<script src="~/js/AutoLogout.js" asp-append-version="true"></script>
